# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex
*.exe
a.out
*.app

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# other
.DS_Store
